<footer class="footer">
    <div class="footer_logo">
        <img src="/images/logo.svg" alt="ImmoDemo Logo" /><br>
        <div class="title">ImmoDemo</div>
    </div>
    <div class="footer_real">
        Design par
        <a href="https://tomweb.sk" target="_blank">Tomáš Zúbrik</a>
        - Intégration et développement par
        <a href="https://hippolyte-thomas.fr" target="_blank">Hippolyte Thomas</a>
    </div>
</footer>