<div class="section newsletter">
    <div class="wrapper_block">
        <div class="picto_section"></div>
        <div class="text_section">
            <div class="title">Abonnez-vous à notre newsletter</div>
            <div class="desc">Recevez les dernières nouvelles et offres intéressantes</div>
            <div class="form">
                <input type="email" placeholder="Votre adresse e-mail" />
                <input type="submit" value="S'abonner" id="newsletter-btn" />
            </div>
        </div>
    </div>
</div>