{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="wrapper" id="homepage">
    <div class="section homesearch">
        <div class="wrapper_block">
            <div class="text_section">
                <div class="title">Votre Succès, Notre Expertise</div>
                <div class="desc">Votre partenaire immobilier d'exception à Nantes depuis plus de 15 ans. Vente ou achat : nous faisons de votre projet une réussite totale.</div>
            </div>
            <div class="picture_section">
                <img src="/images/pages/home/home_head_front.png" alt="Immeuble" id="building-front" />
                <img src="/images/pages/home/home_head_bg.png" alt="Arrière plan de l'immeuble" id="building-back" />
                <img src="/images/pages/home/dots_bg.png" alt="Image de fond" id="dot-background" />
            </div>
        </div>
        <div class="searchbar_widget">
            <form>
                <select name="type" id="type">
                    <option value="">Type de bien</option>
                </select>
                <span class="location">
                    <input type="text" name="location" id="location" placeholder="Ville ou code postal" />
                </span>
                <span class="submit">
                    <input type="submit" value="Rechercher" />
                </span>
            </form>
        </div>
    </div>

    <div class="section topoffers">
        <div class="wrapper">
            <div class="wrapper_block">
                <div class="text_section">
                    <div class="title">Notre sélection</div>
                    <div class="desc">Perles rares à vendre : plongez dans l'excellence de notre collection exclusive.</div>
                </div>
                <div class="btn_section">
                    <a href="#">Voir nos offres</a>
                </div>
            </div>
            <div class="wrapper_controls">
                <div class="slidebar_section">
                    <div class="slider" id="sliderbar-topoffer"></div>
                </div>
                <div class="arrows_section">
                    <div class="arrow-left"></div>
                    <div class="arrow-right"></div>
                </div>
            </div>
            <div class="wrapper_offers" id="topoffers_slider">
                <div class="property-card" data-id="P001">
                    <div class="container">
                        <div class="photo">
                            <a href="#">
                                <img src="https://picsum.photos/id/48/300/300" alt="titre" />
                            </a>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <a href="#">Grand 4 pièces avec une belle terrasse</a>
                            </div>
                            <div class="price">320 000€</div>
                            <div class="city">Nantes</div>
                        </div>
                    </div>
                </div>
                <div class="property-card" data-id="P002">
                    <div class="container">
                        <div class="photo">
                            <a href="#">
                                <img src="https://picsum.photos/id/48/300/300" alt="titre" />
                            </a>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <a href="#">Grand appartement design avec terrasse</a>
                            </div>
                            <div class="price">280 000€</div>
                            <div class="city">Treillières</div>
                        </div>
                    </div>
                </div>
                <div class="property-card" data-id="P003">
                    <div class="container">
                        <div class="photo">
                            <a href="#">
                                <img src="https://picsum.photos/id/48/300/300" alt="titre" />
                            </a>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <a href="#">Appartement 3 pièces avec une belle terrasse</a>
                            </div>
                            <div class="price">350 000€</div>
                            <div class="city">St. Sébastien sur Loire</div>
                        </div>
                    </div>
                </div>
                <div class="property-card" data-id="P004">
                    <div class="container">
                        <div class="photo">
                            <a href="#">
                                <img src="https://picsum.photos/id/48/300/300" alt="titre" />
                            </a>
                        </div>
                        <div class="desc">
                            <div class="title">
                                <a href="#">Magnifique duplex dans une villa privée</a>
                            </div>
                            <div class="price">280 000€</div>
                            <div class="city">Rezé</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section about-us" id="a-propos">
        <div class="wrapper_block">
            <div class="picture_section">
                <img src="/images/pages/home/our-team-working.png" alt="Notre équipe qui travaille" id="team-working" />
                <img src="/images/pages/home/dots-bg-about-us.png" alt="Image de fond" id="dot-background-au" />
            </div>
            <div class="text_section">
                <div class="title">À Propos</div>
                <div class="desc">
                    <p>Nous sommes une entreprise qui connecte le monde de l'immobilier et de la finance. Nous proposons un service complet pour la vente et l'achat de biens immobiliers. Notre avantage réside dans une expérience de plus de 15 ans et une présence dans des emplacements attractifs à Nantes.</p>
                    <p>Nous sommes en relation avec toutes les banques du marché européen, nous permettant de résoudre toutes les démarches rapidement. Grâce à une innovation constante dans nos activités, nous progressons et sommes en mesure de fournir des services réellement hors normes qui nous démarquent de la concurrence.</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
