{% extends 'base.html.twig' %}

{% block title %}Premium penthouse in central Barcelona with panoramic views{% endblock %}

{% block body %}
<div class="wrapper" id="property">
    <div class="wrapper_block title_section">
        <h1 class="title">Premium penthouse in central Barcelona with panoramic views</h1>
    </div>

    <div class="section property">
        <div class="wrapper_block">
            <div class="property-details">
                <div class="slider_block">
                    <div class="slider" id="property-slider">
                        <div class="slide" data-id="I001">
                            <img src="https://picsum.photos/id/48/735/365" alt="Photo desc 1" />
                        </div>
                        <div class="slide" data-id="I002">
                            <img src="https://picsum.photos/id/49/735/365" alt="Photo desc 2" />
                        </div>
                        <div class="slide" data-id="I003">
                            <img src="https://picsum.photos/id/50/735/365" alt="Photo desc 3" />
                        </div>
                        <div class="slide" data-id="I004">
                            <img src="https://picsum.photos/id/51/735/365" alt="Photo desc 4" />
                        </div>
                        <div class="slide" data-id="I005">
                            <img src="https://picsum.photos/id/52/735/365" alt="Photo desc 5" />
                        </div>
                    </div>
                    <div class="slider_controls">
                        <div class="arrow-left"></div>
                        <div class="thumbnails_wrapper">
                            <div class="thumbnails_control">
                                <div class="slide" data-id="I001">
                                    <img src="https://picsum.photos/id/48/191/84" alt="Photo desc 1" />
                                </div>
                                <div class="slide" data-id="I002">
                                    <img src="https://picsum.photos/id/49/191/84" alt="Photo desc 2" />
                                </div>
                                <div class="slide" data-id="I003">
                                    <img src="https://picsum.photos/id/50/191/84" alt="Photo desc 3" />
                                </div>
                                <div class="slide" data-id="I004">
                                    <img src="https://picsum.photos/id/51/191/84" alt="Photo desc 4" />
                                </div>
                                <div class="slide" data-id="I005">
                                    <img src="https://picsum.photos/id/52/191/84" alt="Photo desc 5" />
                                </div>
                            </div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>
                </div>

            </div>

            <div class="contact-details">
                <div class="contact-form">
                    <div class="title">Contactez-nous</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/newsletter.html.twig' %}
</div>
{% endblock %}
