// Search animation
// ==================
span.search-animation {
  display: inline-block;
  position: relative;
}
span.search-animation:after {
  content: "";
  width: 13px;
  height: 20px;
  background: url(/assets/images/icon/search.png) 0 0 no-repeat;
  top: 14px;
  left: 18px;
  position: absolute;
  background-size: contain;
  cursor: pointer;
}
span.search-animation:hover:after {
  animation: search 0.35s cubic-bezier(.39,.58,.57,1);
}
@keyframes search {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}
