// Variables
// ==================
:root {
  --white: #FFFFFF;
  --blue: #1C3988;
  --dark-blue: #091638;
  --light-blue: #F3F3FA;
  --primary: var(--blue);
  --hover: #6E8AE9;
  --color: var(--dark-blue);
  --background: var(--white);
  --header-height: 48px;
}

// Libs
// ==================
@import 'tiny-slider/dist/tiny-slider.css';
@import 'leaflet/dist/leaflet.css';

// Outils
// ==================
@import 'tools/typography';
@import 'tools/animations';

// Generic
// ==================
body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: var(--background);
  margin: 0;
}
::selection {
  background: var(--color);
  color: #fff;
}
.wrapper {
  min-height: calc(100vh - 300px);
}

// Modules
// ==================
@import 'modules/header';
@import 'modules/footer';
@import 'modules/cards';
@import 'modules/newsletter';

// Pages
// ==================
@import 'pages/home';
@import 'pages/search';
@import 'pages/property';
