footer {
  background: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 55px 0;

  .footer_logo {
    img {
      width: 47px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(31deg) brightness(111%) contrast(101%);
    }
    .title {
      font-size: 18px;
      line-height: 18px;
      font-weight: normal;
      margin: 0;
    }
  }

  .footer_real a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  .footer_real a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 2px;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .footer_real a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}