.header {
  width: 80vw;
  max-width: 930px;
  margin: 30px auto;

  .nav {
    display: flex;
    align-items: center;

    .header_logo {
      margin-right: 65px;
      img { display: block; }
    }

    .header_links a {
      color: var(--dark-blue);
      text-decoration: none;
      margin-right: 35px;
      font-size: 14px;
      transition: color 0.15s ease-out;
    }
    .header_links a:hover {
      color: var(--hover);
    }

    .header_contact {
      margin-left: auto;
      a {
        color: var(--white);
        background: var(--blue);
        padding: 9px 22px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        border: 2px solid var(--blue);
        border-radius: 3px;
        transition: 0.25s cubic-bezier(.39,.58,.57,1);
      }
      a:hover {
        background: none;
        color: var(--blue);
      }
    }
  }
}