.section.newsletter {
  background: var(--light-blue);
  .wrapper_block {
    width: 80vw;
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .picto_section {
      width: 30%;
      height: 300px;
      position: relative;
    }
    .picto_section:after {
      content: "";
      width: 175px;
      height: 175px;
      background: url(/assets/images/icon/newsletter.png) 0 0 no-repeat;
      top: 63px;
      left: 63px;
      position: absolute;
      background-size: contain;
    }
    .text_section {
      margin-left: 30px;
      .title {
        font-size: 30px;
        line-height: 30px;
      }
      .form {
        margin-top: 15px;
        input[type="email"] {
          width: 195px;
          padding: 8px 14px;
          font-size: 12px;
          transition: var(--transition);
        }
        input[type="email"]:focus {
          outline: none;
          border: 1px solid var(--blue);
        }
        input[type="submit"] {
          color: var(--blue);
          font-weight: bold;
          background: none;
          border: 2px solid var(--blue);
          padding: 7px 10px;
          height: 32px;
          font-size: 12px;
          margin-left: 9px;
          transition: var(--transition);
        }
        input[type="submit"]:hover {
          color: var(--white);
          background: var(--blue);
        }
      }
    }
  }
}

@media (max-width: $breakpoint-wrapper) {
  .section.newsletter .wrapper_block {
    justify-content: center;

    .picto_section {
      display: none;
    }
    .text_section {
      margin: 50px 0;
    }
  }
}
@media (max-width: 420px) {
  .section.newsletter .wrapper_block .text_section  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input[type="email"] {
      width: calc(100% - 28px);
    }
    input[type="submit"] {
      width: 100%;
      margin: 0;
    }
  }
}
