#homepage {
  .section.homesearch {
    width: var(--width);
    max-width: var(--max-width);
    margin: 70px auto;
    position: relative;

    .wrapper_block {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .text_section {
        margin-top: 75px;
        min-width: 415px;
        .title {
          width: 380px;
        }
        .desc { width: 405px; }
      }

      .picture_section {
        width: 100%;
        min-height: 450px;
        position: relative;
        img {
          position: absolute;
          border-radius: var(--border-radius);
        }
        #building-front {
          z-index: 20;
          top: 40px;
          right: 44px;
          max-width: 425px;
        }
        #building-back {
          z-index: 10;
          top: 40px;
          right: 44px;
          max-width: 318px;
          max-height: 408px;
        }
        #dot-background {
          z-index: 1;
          top: 0;
          right: 0;
          max-width: 370px;
        }
      }
    }

    .searchbar_widget {
      position: absolute;
      top: 300px;
      background: var(--light-blue);
      border-radius: var(--border-radius);
      padding: 17px 15px;
      z-index: 50;

      form {
        display: flex;
        max-height: 40px;
        input[type="submit"] {
          padding: 10px 25px 10px 40px;
        }
        span {
          display: inline-block;
          position: relative;
        }
      }
    }
  }

  .section.topoffers {
    background: var(--light-blue);
    padding: 1px;

    .wrapper {
      width: var(--width);
      max-width: var(--max-width);
      margin: 95px auto;

      .wrapper_block {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 10px;

        .text_section {
          .desc {
            width: 460px;
          }
        }
        .btn_section {
          padding-bottom: 10px;
          a {
            border: 2px solid var(--blue);
            border-radius: var(--border-radius);
            font-size: 13px;
            color: var(--blue);
            text-decoration: none;
            font-weight: bold;
            padding: 8px 14px;
            transition: var(--transition);
          }
          a:hover {
            color: var(--white);
            background: var(--blue);
          }
        }
      }

      .wrapper_controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slidebar_section {
          background: #DADAEE;
          height: 1.75px;
          width: calc(100% - 150px);
          .slider {
            background: var(--blue);
            height: 1.75px;
            width: calc(150px);
            transition: width 0.15s ease-in-out;
          }
        }
        .arrows_section {
          width: 127px;
          display: flex;
          justify-content: space-between;
          .arrow-left, .arrow-right {
            background: var(--blue);
            width: 55px;
            height: 55px;
            border-radius: 55px;
            cursor: pointer;
            position: relative;
            transition: background-color 0.15s ease-in-out;
          }
          .arrow-left:hover, .arrow-right:hover {
            background: var(--dark-blue);
          }
          .arrow-left:after {
            content: "";
            width: 11px;
            height: 20px;
            background: url(/assets/images/icon/arrow-left.png) 0 0 no-repeat;
            top: 18px;
            left: 21px;
            position: absolute;
            background-size: contain;
          }
          .arrow-right:after {
            content: "";
            width: 11px;
            height: 20px;
            background: url(/assets/images/icon/arrow-right.png) 0 0 no-repeat;
            top: 18px;
            right: 21px;
            position: absolute;
            background-size: contain;
          }
        }
      }

      .wrapper_offers {
        display: flex;
        margin-top: 20px;
      }
    }
  }

  .section.about-us {
    width: var(--width);
    max-width: var(--max-width);
    margin: 100px auto;
    position: relative;

    .wrapper_block {
      display: flex;
      justify-content: space-between;
      .picture_section {
        width: 61%;
        position: relative;
        img {
          position: absolute;
          border-radius: var(--border-radius);
        }
        #dot-background-au {
          z-index: 10;
          top: 0;
          left: 0;
          height: 283px;
        }
        #team-working {
          z-index: 20;
          top: 41px;
          left: 43px;
          width: calc(100% - 43px);
          height: calc(100% - 41px);
          max-height: 405px;
          object-fit: cover;
        }
      }
      .text_section {
        width: 31%;
        .desc {
          font-size: 14px;
        }
      }
    }
  }

  .section.our-team {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto 100px;
    position: relative;
    .wrapper_block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .card, .text_section {
        width: 30%;
      }
      .text_section.mobile {
        display: none;
      }
      .card {
        background: var(--white);
        border: 1px solid var(--light-blue);
        border-radius: var(--border-radius);
        box-shadow: 0 4px 20px 0 rgba(71,100,195,0.1);
        margin-bottom: 20px;
        padding: 40px 0;
        text-align: center;
        .photo img {
          margin: 0 auto 10px;
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 150px;
        }
        .name {
          font-family: $font-alt;
          font-weight: bold;
        }
        .position {
          font-size: 14px;
        }
      }
    }
  }

  .section.references {
    width: var(--width);
    max-width: var(--max-width);
    margin: 0 auto 100px;
    position: relative;
    .text_section {
      margin-bottom: 35px;
      .desc {
        max-width: 60%;
      }
    }

    .references_slider {
      display: flex;
      .card {
        width: calc(50% - 20px);
          .container {
            background: var(--light-blue);
            border-radius: var(--border-radius);
            padding: 20px;
            cursor: pointer;
            user-select: none;

            .quote {
              position: relative;
              font-size: 13.5px;
              padding: 10px 0 20px 40px;
              display: -webkit-box;
              max-width: calc(100% - 30px);
              height: 115px;
              max-height: 115px;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .quote:after {
              content: "";
              width: 23px;
              height: 24px;
              background: url(/assets/images/icon/quote.png) 0 0 no-repeat;
              top: 4px;
              left: 8px;
              position: absolute;
              background-size: contain;
            }
            .name {
              font-family: $font-alt;
              font-weight: bold;
            }
            .home_title {
              font-size: 13.5px;
            }
          }
      }
    }
    .references_slider_dots {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 10px;
      .dot {
        width: 15px;
        height: 15px;
        background: #DADAEE;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.15s cubic-bezier(.39,.58,.57,1);
      }
      .dot.tns-nav-active {
        background: var(--blue);
      }
    }
  }

}

@media (max-width: 1050px) {
  #homepage {
    .section.homesearch {
      margin-top: 0;
      margin-bottom: 150px;
      .wrapper_block {
        margin-top: 0;
        .picture_section {
          display: none;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-wrapper) {
  #homepage {
    .section.about-us .wrapper_block {
      flex-direction: column;
      .picture_section {
        width: 100%;
        height: 250px;
        margin-bottom: 25px;
        #team-working {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        #dot-background-au {
          display: none;
        }
      }
      .text_section {
        width: 100%;
      }
    }

    .section.our-team .wrapper_block {
      .card, .text_section {
        width: 45%;
      }
    }

    .section.references .text_section .desc {
      max-width: 100%;
    }
  }
}
@media (max-width: 750px) {
  #homepage {
    .section.homesearch {
      margin-bottom: 250px;
      .searchbar_widget {
        top: calc(100% + 20px);
        width: calc(var(--width) - 30px);
        form {
          flex-direction: column;
          gap: 10px;
          max-height: none;
          select, input {
            width: 100%;
          }
          span.location .ts-wrapper {
            width: 100%;
            #location-ts-control {
              min-width: 100%;
            }
            .plugin-dropdown_input .dropdown-input {
              width: calc(100% - 16px);
            }
          }
      }
    }
  }

    .section.topoffers .wrapper {
      margin-bottom: 50px;
      .wrapper_block {
        flex-direction: column;
        gap: 15px;
        .text_section {
          width: 100%;
          .title, .desc {
            width: 100%;
          }
        }
      }
    }

    .section.references .references_slider .card .container .quote {
      font-size: 14px;
    }
  }
}
@media (max-width: 500px) {
  #homepage {
    .section.homesearch .wrapper_block .text_section {
       min-width: 100%;
       .title, .desc {
         width: 100%;
       }
    }
    .section.our-team .wrapper_block {
      .card, .text_section {
        width: 100%;
      }
      .text_section.mobile {
        display: block;
        margin: 40px 0;
      }
      .text_section.desktop {
        display: none;
      }
    }
  }
}