#homepage {
  .section.homesearch {
    width: 80vw;
    max-width: 930px;
    margin: 70px auto;
    position: relative;

    .wrapper_block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;

      .text_section {
        margin-top: 75px;
        min-width: 415px;
        .title {
          font-size: 45px;
          font-weight: bold;
          line-height: 60px;
          width: 380px;
          margin-bottom: 10px;
        }
        .desc { width: 405px; }
      }

      .picture_section {
        width: 100%;
        min-height: 450px;
        position: relative;
        img {
          position: absolute;
          border-radius: 3px;
        }
        #building-front {
          z-index: 20;
          top: 40px;
          right: 44px;
          max-width: 425px;
        }
        #building-back {
          z-index: 10;
          top: 40px;
          right: 44px;
          max-width: 318px;
          max-height: 408px;
        }
        #dot-background {
          z-index: 1;
          top: 0;
          right: 0;
          max-width: 370px;
        }
      }
    }

    .searchbar_widget {
      position: absolute;
      top: 300px;
      background: var(--light-blue);
      border-radius: 3px;
      padding: 17px 15px;
      z-index: 50;

      form {
        select {
          width: 140px;
          color: #858585;
          border: 1px solid #DDD;
          background: var(--white);
          border-radius: 3px;
          margin-right: 7px;
          padding: 10px 13px;
          font-size: 14px;
        }
        input[type="text"] {
          width: 205px;
          border: 1px solid #DDD;
          background: var(--white);
          padding: 10px 13px 10px 32px;
          border-radius: 3px;
          font-size: 14px;
          margin-right: 5px;
        }
        select:focus, input[type="text"]:active {
          color: var(--blue);
          border: 1px solid var(--blue);
        }
        span {
          display: inline-block;
          position: relative;
        }
        span.location:after {
          content: "";
          width: 13px;
          height: 20px;
          background: url(/assets/images/icon/location.png) 0 0 no-repeat;
          top: 10px;
          left: 10px;
          position: absolute;
          background-size: contain;
        }
        input[type="submit"] {
          background: var(--blue);
          color: var(--white);
          border: 1px solid var(--blue);
          border-radius: 3px;
          padding: 10px 25px 10px 40px;
          font-size: 14px;
          cursor: pointer;
        }
        span.submit:after {
          content: "";
          width: 13px;
          height: 20px;
          background: url(/assets/images/icon/search.png) 0 0 no-repeat;
          top: 14px;
          left: 18px;
          position: absolute;
          background-size: contain;
        }
      }
    }
  }

  .section.topoffers {
    background: var(--light-blue);
    padding: 1px;

    .wrapper {
      width: 80vw;
      max-width: 930px;
      margin: 95px auto;

      .wrapper_block {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 10px;

        .text_section {
          .title {
            font-size: 45px;
            font-weight: bold;
            line-height: 60px;
            margin-bottom: 10px;
          }
          .desc {
            width: 460px;
          }
        }
        .btn_section {
          padding-bottom: 10px;
          a {
            border: 2px solid var(--blue);
            border-radius: 3px;
            font-size: 13px;
            color: var(--blue);
            text-decoration: none;
            font-weight: bold;
            padding: 8px 14px;
          }
        }
      }

      .wrapper_controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .slidebar_section {
          background: #DADAEE;
          height: 1.75px;
          width: calc(100% - 150px);
          .slider {
            background: var(--blue);
            height: 1.75px;
            width: calc(150px);
          }
        }
        .arrows_section {
          width: 127px;
          display: flex;
          justify-content: space-between;
          .arrow-left, .arrow-right {
            background: var(--blue);
            width: 55px;
            height: 55px;
            border-radius: 55px;
            cursor: pointer;
            position: relative;
          }
          .arrow-left:after {
            content: "";
            width: 11px;
            height: 20px;
            background: url(/assets/images/icon/arrow-left.png) 0 0 no-repeat;
            top: 18px;
            left: 21px;
            position: absolute;
            background-size: contain;
          }
          .arrow-right:after {
            content: "";
            width: 11px;
            height: 20px;
            background: url(/assets/images/icon/arrow-right.png) 0 0 no-repeat;
            top: 18px;
            right: 21px;
            position: absolute;
            background-size: contain;
          }
        }
      }

      .wrapper_offers {
        display: flex;
        margin-top: 20px;
        .property-card {
          width: calc(33% - 10px);

          .container {
            background: var(--white);
            border-radius: 3px;
            box-shadow: 0 4px 20px 0 rgba(71,100,195,0.1);

            .photo {
              position: relative;
              padding-bottom: 71.43%; /* 350:250 ratio */
              height: 0;
              overflow: hidden;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
              }
            }

            .desc {
              padding: 19px 17px 13px;
              .title {
                margin-bottom: 15px;
                a {
                  color: var(--color);
                  text-decoration: none;
                  font-weight: bold;
                  font-size: 18px;
                }
              }
              .price {
                font-size: 14px;
                color: var(--blue);
                font-weight: bold;
              }
              .city { font-size: 14px; }
            }
          }
        }
      }
    }
  }

  .section.about-us {
    width: 80vw;
    max-width: 930px;
    margin: 100px auto;
    position: relative;

    .wrapper_block {
      display: flex;
      justify-content: space-between;
      .picture_section {
        width: 61%;
        position: relative;
        img {
          position: absolute;
          border-radius: 3px;
        }
        #dot-background-au {
          z-index: 10;
          top: 0;
          left: 0;
          height: 283px;
        }
        #team-working {
          z-index: 20;
          top: 41px;
          left: 43px;
          width: calc(100% - 43px);
          height: calc(100% - 41px);
          max-height: 405px;
          object-fit: cover;
        }
      }
      .text_section {
        width: 31%;
        .title {
          font-size: 45px;
          font-weight: bold;
          line-height: 60px;
          margin-bottom: 10px;
        }
        .desc {
          font-size: 14px;
        }
      }
    }
  }
}