#property {
  .title_section .title {
    margin-bottom: 5px;
  }

  .section.property {
    .wrapper_block {
      margin: 30px auto 0;
      display: flex;
      justify-content: space-between;

      .property-details {
        width: calc(70% - 15px);
        min-width: 600px;
        min-height: 1350px;

        .slider_block {
          #property-slider {
            width: 100%;
            .slide {
              padding-bottom: 49.66%; /* 735:365 ratio */
              height: 0;
              overflow: hidden;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--border-radius);
              }
            }
          }
          .slider_controls {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            align-items: center;
            height: 80px;
            overflow: hidden;

            .arrow-left, .arrow-right {
              background: var(--blue);
              width: 45px;
              height: 45px;
              border-radius: 55px;
              cursor: pointer;
              position: relative;
              transition: background-color 0.15s ease-in-out;
            }
            .arrow-left:hover, .arrow-right:hover {
              background: var(--dark-blue);
            }
            .arrow-left:after {
              content: "";
              width: 11px;
              height: 20px;
              background: url(/assets/images/icon/arrow-left.png) 0 0 no-repeat;
              top: 14px;
              left: 16px;
              position: absolute;
              background-size: contain;
            }
            .arrow-right:after {
              content: "";
              width: 11px;
              height: 20px;
              background: url(/assets/images/icon/arrow-right.png) 0 0 no-repeat;
              top: 14px;
              right: 16px;
              position: absolute;
              background-size: contain;
            }
            .thumbnails_wrapper {
              width: calc(100% - 125px);
              overflow: hidden;
              .thumbnails_control {
                display: flex;
                .slide {
                  width: calc(33% - 5px);
                  height: 80px;
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: var(--border-radius);
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }

        .details_block {
          width: calc(100% - 125px);
          margin: 40px auto;

          .icon_group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > div {
              position: relative;
              font-family: $font-alt;
              font-weight: bold;
            }
            .type:after, .dimensions:after, .location:after {
              content: "";
              position: absolute;
              top: calc(-50% + 7.5px);
              left: 0;
              width: 35px;
              height: 35px;
            }
            .type { padding-left: 45px; }
            .type:after {
              background: url(/assets/images/icon/property_type.png) 0 0 no-repeat;
              background-size: contain;
            }
            .dimensions { padding-left: 40px; }
            .dimensions:after {
              background: url(/assets/images/icon/property_surface.png) 0 0 no-repeat;
              background-size: contain;
            }
            .location { padding-left: 37px; }
            .location:after {
              background: url(/assets/images/icon/property_location.png) 0 0 no-repeat;
              background-size: contain;
            }
          }

          .price_group {
            background: var(--light-blue);
            margin: 40px 0 35px;
            padding: 17px 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: var(--border-radius);
            .text_section {
              .desc { font-size: 13px; }
              .title {
                font-size: 19px;
                line-height: 19px;
                margin-bottom: 3px;
              }
            }
            .button_section {
              a {
                color: var(--white);
                background: var(--blue);
                padding: 9px 18px;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                border-radius: var(--border-radius);
                transition: var(--transition);
              }
              a:hover {
                background: var(--hover);
              }
            }
          }

          .description_group {
            font-size: 15px;
          }

          .map_group {
            background: var(--light-blue);
            width: 100%;
            padding-bottom: 60.66%; /* 610:370 ratio */
            height: 0;
            overflow: hidden;
            box-shadow: 0 4px 20px 0 rgba(71,100,195,0.1);
            border-radius: var(--border-radius);
            margin-top: 40px;
            position: relative;
            #map {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .contact-details {
        width: calc(30% - 15px);
        min-width: 200px;

        .contact-form {
          background: var(--light-blue);
          border-radius: var(--border-radius);
          padding: 20px 20px 30px;
          .title {
            font-size: 21px;
            line-height: 21px;
            margin-bottom: 21px;
          }
          .form {
            label {
              font-size: 14px;
            }
            input[type="text"], input[type="email"], textarea {
              width: calc(100% - 26px);
              letter-spacing: 0.5px;
              margin-bottom: 15px;
            }
            input[type="submit"] {
              background: none;
              border: 2px solid var(--blue);
              color: var(--blue);
              width: 100%;
              font-size: 13px;
              font-weight: bold;
              transition: var(--transition);
            }
            input[type="submit"]:hover {
              color: var(--white);
              background: var(--blue);
            }
          }
        }

        .broker-card {
          background: var(--light-blue);
          margin: 30px 0;
          padding: 20px;
          text-align: center;
          border-radius: var(--border-radius);
          .photo {
            margin: auto;
            img {
              width: 100px;
              height: 100px;
              border-radius: 100px;
            }
          }
          .name {
            font-size: inherit;
            line-height: inherit;
          }
          .phone, .mail { font-size: 14px; word-wrap: break-word; }
        }

        .carac-card {
          background: var(--light-blue);
          padding: 20px;
          border-radius: var(--border-radius);
          .title {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 13px;
          }
          .carac {
            font-size: 14px;
            margin-bottom: 10px;
            span { font-weight: bold; }
          }
          .carac:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  #property {
    .section.property .wrapper_block {
      flex-direction: column;
      .property-details {
        width: calc(100% - 15px);
        min-width: inherit;
        min-height: inherit;
      }
      .contact-details {
        width: calc(100% - 15px);
        margin-bottom: 40px;
        .broker-card, .carac-card {
          max-width: 300px;
          margin: 30px auto;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  #property {
    .title_section .title {
      font-size: 40px;
    }
    .section.property .wrapper_block .property-details .details_block {
      width: 100%;
    }
  }
}
@media (max-width: 500px) {
  #property {
    .title_section .title {
      font-size: 32px;
      line-height: 45px;
    }
    .section.property .wrapper_block .property-details .details_block {
      .icon_group {
        flex-direction: column;
        gap: 20px;
      }
      .price_group {
        flex-direction: column;
        gap: 15px;
        margin: 40px auto 35px;
        width: fit-content;
      }
    }
  }
}
@media (max-width: 350px) {
  #property {
    .section.property .wrapper_block .property-details .slider_block .slider_controls .thumbnails_wrapper {
      width: calc(100% - 100px);
    }
  }
}